.git
.gitignore
.github

venv/
env/
.venv/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.local
.env.*
!.env.example

*.md
docs/
tests/

cloud-sql-proxy.exe
auth.txt

.dockerignore
Dockerfile
docker-compose.yml
